body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 400;
    overflow: auto;
}

.container {
    max-width: 1200px;
}

.text-muted {
    color: #7d97ad;
}

.headline {
    margin: 30px 0px 20px;
    font-weight: 300;
    display: flex;
}

.title-logo {
    margin: 25px 0px;
    width: 100px;
    height: auto;
}

.title-super {
    font-size: 72px;
    font-weight: 200;
}

hr {
    border: solid 2px #7d97ad;
    margin: 10px 0px 35px;
}

.ninja-style {
    font-size: 26px;
    letter-spacing: 1px;
}

.feat-style {
    margin: 50px 10px 10px;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-size: 40px;
}
