body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 400;
	overflow: auto;
}

.container {
    max-width: 1440px;
}

.text-muted {
    color: #7d97ad;
}

.headline {
    margin-top: 30px;
    font-weight: 350;
    margin-bottom: 20px;
	display: flex;
}

.title-logo {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
}

.title-super {
    font-size: 72px;
    font-weight: 200;
}

hr {
    border:solid 2px #7d97ad;
    margin-bottom: 35px;
    margin-top: 10px;
}

.ninja-style {
    font-size: 26px;
    margin-top: 0px;
    letter-spacing: 1px;
}

.feat-style {
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-size: 40px;
}

.proj-style {
    
    letter-spacing: 3px;
    margin-top: 13px;
}

.link-style {
    color: #2d3c49;  
    letter-spacing: 1px;
}

.img-proj {
    height: 200px;
    display: inline;
    margin: auto;
}

.img-modal {
    max-width: 300px;
    margin: auto;
}
@media only screen and (max-width: 1600px) { 
    .proj-style {
        font-size: 38px; 
    } 
    .link-style { 
	    font-size: 14px;
    }
}
@media only screen and (max-width: 1440px) { 
    .proj-style {
        font-size: 36px; 
    } 
    .link-style { 
	    font-size: 13px;
    }
}    
@media only screen and (max-width: 1350px) { 
    .proj-style {
        font-size: 34px; 
    } 
    .link-style { 
	    font-size: 12px;
    }
}
@media only screen and (max-width: 1200px) { 
    .proj-style {
        font-size: 32px; 
    } 
    .link-style { 
	    font-size: 11px;
    }
}
@media only screen and (max-width: 992px)  { 
    .proj-style {
        font-size: 45px; 
    } 
    .link-style { 
	    font-size: 20px;
    }
}
